/**
 * Videos
 */
.video_video {
    width: 100%;
    height: auto;
}

/*
 * Plugin info
 */
.video_logo {
    float: left;
    margin: 0.5em 1.5em 0.5em 0;
}
.video_license {
    text-align: justify;
}

/*
 * The call builder.
 */
#video_call_builder {
    padding: 1em 0;
}
#video_call_builder p {
    margin: 0.4em 0;
}
#video_call_builder label {
    display: inline-block;
    vertical-align: top;
    width: 19%;
}
#video_call_builder select,
#video_call_builder input[type=text],
#video_call_builder textarea {
    display: inline-block;
    vertical-align: top;
    width: 79%;
}
#video_call_builder #video_call {
    width: 99%;
    height: 5em;
}
