/**
 * Videos
 */
.video_video {
    /* uncomment to have responsive videos
    width: 100%;
    height: auto; */
    /* uncomment and adapt percentage for responsive vertical videos
    width: 40%; */
}

/*
 * Plugin info
 */
.video_logo {
    float: left;
    margin: 0.5em 1.5em 0.5em 0;
}
.video_license {
    text-align: justify;
}

/*
 * The call builder.
 */
#video_call_builder {
    padding: 1em 0;
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.5em;
    p {
        display: table-row;
    }
    p.video_call {
        display: table-caption;
        caption-side: bottom;
    }
    label {
        display: table-cell;
        vertical-align: top;
    }
    select,
    input[type="text"],
    textarea {
        display: table-cell;
        vertical-align: top;
    }
    input[type="text"],
    textarea {
        width: 100%;
    }
    #video_call {
        height: 5em;
    }
}
