parameters:
  level: 9
  paths:
    - classes/
    - views/
    - admin.php
    - index.php
    - video_view.php
  bootstrapFiles:
    - phpstan.php
  scanFiles:
    - ../../cmsimple/classes/PageDataRouter.php
    - ../../cmsimple/adminfuncs.php
    - ../../cmsimple/functions.php
  scanDirectories:
    - ../plib/classes
